.top
  h1.logo Paperboard

  .search-bar
    a(href='#', title='Search')

  if user
    .settings
      | #{user.full_name}
      img.avatar(src="#{user.avatar.medium}")

.nav
  ul.context
    li.current
      a(href='#') Everything
    li
      a(href='#') Yesterday
    li
      a(href='#') Pictures
    li
      a(href='#') Videos
