if user
  a.account(href='#', title='View your twitter timeline')
    img(src="#{user.profile_img}")

.titlebar
  strong
    | fragments
    sup beta
    | &bull;
  span #{user ? 'from twitter' : 'from the web'}

.search
  input(type='text', value='#{search_query}')
  .handle