.top
  h1 Paperboard

  if user
    .search-bar
      a(href='#', title='Search')

    .settings
      | #{user.full_name}
      img.avatar(src="#{user.avatar.medium}")

if user
  .nav
    a(class='logo', href='#', title='Back to top')
    a(href='#', class='toggle-sidebar') All boards

    ul.context
      li.current
        a(href='#') Everything
      li
        a(href='#') Yesterday
      li
        a(href='#') Pictures
      li
        a(href='#') Videos

    a(class='toggle-settings', href='#') Board settings