.wrapper
  if lead_image && lead_image.url_archived_small
    .cover(style="background-image:url('" + lead_image.url_archived_small + "')")
  .content
    h4 #{name}
    if published_ago
      p #{published_ago}