.nano
  .nano-content
    article
      if img
        img.lead(src=img.url_archived_medium)

      .internal
        h1 #{name}

        .content
          !{htmlcontent}

        a(href='#', class='close-novel') Close