a(href='/close-article', class='close-action clicker') Close

.wrapper
  article
    .nano
      .nano-content

    a(href='/close-article', class='close-action close-novel', title='Close article') Close

  aside
    .nano
      .nano-content
        .more
          .menu
            a(href='#', data-model='siblings') #{source_name}
            a(href='#', data-model='suggested') Suggested
        section.suggested