article
  .nano
    .nano-content
      h1 #{name}

      if img
        img.lead(src=img.url_archived_medium ? img.url_archived_medium : img.url_original)

      .html-content
        !{htmlcontent}

        a(href='#', class='close-novel') Close

aside
  p Column