section.board {
  position: relative;
  width:100%;
  padding:20px 18px 30px 17px;

  .end {
    font-size: 0.9em;
    opacity: 0.55;
    display: block;
    margin: 50px auto 25px;
    text-align: center;
    color: #666;
    text-shadow: 0 1px 0 rgba(255,255,255,1);
    cursor: default;
  }

  > .settings {
    @include transition(right, 0.25s);
    width: $board-settings-width;
    top: 0;
    right: -$board-settings-width - 20px;
    bottom: 0;
    background-color: #FFF;
    position: absolute;
    z-index: 2;
    border-top: 1px solid #E5E5E5;

    &:before {
      box-shadow: -8px 0 8px -8px rgba(0,0,0,0.2) inset;
      content: " ";
      top: 0;
      height: 100%;
      position: absolute;
      left: -8px;
      width: 8px;
    }

    .content {
      padding: 0 20px;
      margin: 20px 0;
    }

    html.fixed-header & {
      position: fixed;
      top: $header-height - $header-top-height;
    }
  }

  &.with-settings {
    padding-right: $board-settings-width + 10px;

    > .settings {
      right: 0;
    }
  }

  > .articles {

    article {
      position: absolute;
      padding: 10px;

      .grid-1 & {
        width: 100%;
      }

      .grid-2 & {
        width: 50%;
      }

      .grid-3 & {
        width: 33.33%;
      }

      .grid-4 & {
        width: 25%;
      }

      .grid-5 & {
        width: 20%;
      }

      .grid-6 & {
        width: 16.66%;
      }

      .w {
        position: relative;
        border-radius: 5px;
        background-color: #FFF;
        border: 1px solid #D8D8D8;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.05);

        .img {
          position: relative;
          display: block;
          width: 100%;
          height: 0px;
          overflow: hidden;
          background: url(../img/img-placeholder.png) no-repeat center;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          cursor: -webkit-zoom-in;
          cursor: -moz-zoom-in;

          &:hover {
            opacity: 0.9;
          }

          img {
            position: absolute;
            width: 100%;
            min-height: 100%;
            top: 0px;
            left: 0px;
          }
        }

        .content {
          overflow: hidden;
          padding: 0 15px 15px;

          h3 {
            @extend %break-words;
            font-family: "Proxima Nova Condensed";
            font-size: 1.4em;
            line-height: 1.2;
            margin: 15px 0 10px;
          }

          p {
            font-size: 0.85em;
            color: #898989;
            line-height: 1.5;
            letter-spacing: 0px;
            margin: 10px 0;
          }

          .posted-date {
            @extend %ellipsis;
            margin-top: 11px;
            font-size: 0.75em;
            color: #BBB;

            a {
              color: #BBB;
              text-decoration: none;

              &:hover {
                color: #5DA9DD;
                text-decoration: underline;
              }
            }
          }

          .box {
            display: block;
            margin: 0 -15px -15px;
            border-top: 1px solid #E7E7E7;
            padding: 10px 15px;

            &.author {
              @extend %clear;
              @include transition(background-color, 0.3s);

              text-decoration: none;

              img {
                float: left;
                width: 30px;
                height: 30px;
                border-radius: 30px;
                margin-right: 10px;
              }

              div {
                font-size: 0.75em;
                overflow: hidden;

                strong, span {
                  @extend %ellipsis;
                  display: block;
                }

                strong {
                  @extend %antialias;
                  color: #777;
                  margin: 2px 0 3px;
                  font-weight: 600;
                }

                span {
                  color: #BBB;
                }
              }

              &:hover {
                background-color: #F3F3F3;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                div strong {
                  color: #555;
                }
              }
            }
          }

          .source-url {
            @extend %ellipsis;
            display: inline-block;
            margin-top: 5px;
            font-size: 0.75em;
            color: #5DA9DD;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}