#rg-header > header {
  $side-padding: 27px;

  @extend %hardwareacceleration;
  position: relative;
  width: 100%;
  min-width: $viewport-min-width;
  z-index: 2;
  height:$header-height;

  .top {
    @extend %clear;
    height: $header-top-height;
    overflow: hidden;
    background: #FFF;
    padding: 0 $side-padding;
    z-index: 1;
    position: relative;

    > h1 {
      position: relative;
      width: 250px;
      height: 35px;
      float: left;
      padding-left: nth($sprite-logo, 5) + 10px;
      margin-top: 12px;
      line-height: 35px;
      font-weight: normal;
      font-size: 1.2em;
      cursor: default;

      &:before {
        @include icon($sprite-logo, $sprite-retina-logo);
        left: 0;
        margin-left: 0;
      }
    }

    > .search-bar {
      position: absolute;
      left: 50%;
      text-align: center;
      width: 480px;
      margin-left: -240px;
      height: $header-top-height;

      > a {
        @include transition(opacity, 0.2s);
        display: inline-block;
        opacity: 0.2;
        width: 45px;
        height: 45px;

        &:before {
          @include icon($sprite-search, $sprite-retina-search);
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    > .settings {
      float: right;
      height: 32px;
      margin-top: 14px;
      line-height: 35px;
      font-size: 0.9em;

      > img {
        float: right;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        margin-left: 10px;
      }

      .link, .button {
        @extend %antialias;
        color: #444;
        height: 30px;
        line-height: 30px;
        float: right;
        text-transform: uppercase;
        font-size: 0.8em;
        letter-spacing: 0.5px;
        padding: 0 10px;
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 5px;
      }

      .link {
        margin-right: 8px;

        &:hover {
          color: #000;
        }
      }

      .button {
        margin-right: 2px;
        border-color: #444;
        font-weight: 600;

        &:hover {
          border-color: #000;
          color: #000;
        }
      }
    }
  }

  #nav {
    @include transition(background-color, 0.3s);
    padding: 0 $side-padding;
    background-color: #F5F5F5;
    height: $header-height - $header-top-height;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    position: relative;

    > .logo {
      @include transition(width, 0.3s);
      @include icon($sprite-logo, $sprite-retina-logo);
      left: $side-padding + 3px;
      margin-left: 0;
      overflow: hidden;
      width: 0;
    }

    &.type-twitter, &.type-followed, &.type-can-be-followed {

      > .logo {
        @include transition(opacity, 0.2s);
        @include icon($sprite-logo-white, $sprite-retina-logo-white);
        left: $side-padding + 3px;
        margin-left: 0;
        opacity: 0.55;
        width: 0;

        &:hover {
          opacity: 0.95;
        }
      }
    }

    > .what-is-this {
      @include transition(left, 0.25s);
      position: absolute;
      color: #FFF;
      text-decoration: none;
      font-size: 0.8em;
      left: $side-padding + 1px;
      top: 16px;
      border-bottom: 1px solid rgba(255,255,255,0.5);

      &:hover {
        border-bottom-color: #FFF;
      }
    }

    > .toggle-sidebar {
      @include transition(left, 0.3s);
      @extend %antialias;
      @extend %ellipsis;
      position: absolute;
      top: 8px;
      left: $side-padding;
      background-color: #FFF;
      color: #737373;
      height: $header-height - $header-top-height - 16px;
      line-height: 30px;
      font-size: 0.95em;
      padding: 0 26px 0 10px;
      text-decoration: none;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.15);
      max-width: 200px;

      &:after {
        @include icon($sprite-chevron, $sprite-retina-chevron);
        left: auto;
        margin: -4px 0 0;
        right: 8px;
      }
    }

    .context {
      display: none;
      margin: 0 auto;
      text-align: center;
      max-width: 700px;
      overflow: hidden;
      height: 100%;
      font-size: 0.95em;

      li {
        display: inline-block;
        height: 100%;
        margin: 0 18px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          @include transition(border-color, 0.4s);
          display: block;
          height: 100%;
          padding-top: 15px;
          text-decoration: none;
          color: #7A7A7A;
          border-bottom: 2px solid transparent;

          &:hover {
            color: #000;
            border-bottom-color: #5BCBF5;
          }
        }

        &.current a, a:hover {
          color: #000;
          border-bottom-color: #5BCBF5;
        }
      }
    }

    .user-info {
      position: relative;
      display: none;
      margin: 0 auto;
      text-align: center;
      max-width: 400px;
      height: 100%;
      overflow: hidden;
      color: #FFF;

      h3 {
        @include transition(opacity, 0.3s);
        @extend %ellipsis;
        font-weight: normal;
        margin-top: 8px;
        cursor: default;
      }

      span {
        @include transition(opacity, 0.3s);
        @extend %ellipsis;
        display: block;
        font-size: 0.6em;
        opacity: 0.75;
        margin-top: 3px;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        cursor: default;
      }

      img {
        $size: 30px;

        @include transition(opacity, 0.3s);
        position: absolute;
        opacity: 0;
        width: $size;
        height: $size;
        border-radius: $size;
        left: 50%;
        top: 7px;
        margin-left: - $size /2;
        border: 2px solid rgba(255,255,255,0.4);

        &:hover {
          border-color: #FFF;
        }
      }

      &:hover {

        h3, span {
          opacity: 0;
        }

        img {
          opacity: 1;
        }
      }
    }

    > .toggle-settings {
      @include transition(opacity, 0.2s);
      @extend %antialias;
      position: absolute;
      display: none;
      right: $side-padding + 2px;
      top: 7px;
      height: 30px;
      line-height: 31px;
      padding-right: 23px;
      font-size: 0.8em;
      color: #000;
      text-decoration: none;
      opacity: 0.2;

      &:before {
        @include icon($sprite-cog, $sprite-retina-cog);
        left: auto;
        right: 0;
        margin-left: 0;
      }

      html.fixed-header & {
        text-indent: -999em;
      }

      &:hover {
        opacity: 0.7;
        text-indent: 0;

        html.fixed-header & {
          text-indent: 0;
        }
      }

      &.pressed {
        opacity: 1;
      }
    }

    > .toggle-follow {
      @include transition(opacity, 0.2s);
      @extend %antialias;
      position: absolute;
      display: none;
      right: $side-padding + 2px;
      top: 7px;
      height: 30px;
      line-height: 30px;
      padding: 0 10px 0;
      font-size: 0.8em;
      color: #FFF;
      text-decoration: none;
      border: 1px solid #FFF;
      border-radius: 3px;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }

      &:active {
        background-color: rgba(0,0,0,0.15);
      }

      &.pressed {
        background-color: rgba(0,0,0,0.15);
        border: 0;
        color: #FFF;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset;
        line-height: 31px;
        padding-left: 29px;

        &:before {
          @include icon($sprite-tick-white, $sprite-retina-tick-white);
          left: 9px;
          margin-left: 0;
          margin-top: -6px;
        }

        &:active {
          background-color: rgba(0,0,0,0.25);
        }
      }
    }

    &.type-owned {

      > .toggle-settings {
        display: block;
      }
    }

    &.type-with-context {

      .context {
        display: block;
      }
    }

    &.type-twitter {
      background-color: #5DA9DD;
    }

    &.type-can-be-followed {
      background-color: #E23C47;

      > .toggle-follow {
        display: block;
      }
    }

    &.type-followed {
      background-color: #A3CD39;
    }

    &.type-with-user {

      .user-info {
        display: block;
      }
    }

    &.type-twitter, &.type-followed, &.type-can-be-followed {

      .context li {

        a {
          color: #FFF;
        }

        &.current a, a:hover {
          color: #FFF;
          border-bottom-color: rgba(0,0,0,0.2);
        }
      }

      .toggle-settings {
        color: #FFF;
        opacity: 0.5;

        &:before {
          @include icon($sprite-cog-white, $sprite-retina-cog-white);
          left: auto;
          right: 0;
          margin-left: 0;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  html.fixed-header & {
    position: fixed;
    left: 0;

    top: - $header-top-height;

    .top {
      visibility: hidden;
      pointer-events: none;
    }

    #nav {
      box-shadow: 0 0 15px rgba(0,0,0,0.35);

      &:not(.type-twitter):not(.type-followed):not(.type-can-be-followed) {
        background-color: #FFF;

        > .toggle-sidebar {
          background-color: #F5F5F5;
        }
      }

      > .logo {
        width: nth($sprite-logo, 5);
      }

      > .toggle-sidebar, > .what-is-this {
        left: nth($sprite-logo, 5) + 40px;
      }
    }
  }
}