#novel {
  $sidebar-width: 320px;
  $visible-bg-area: 25px;

  @extend %clear;
  margin: 0 auto;
  padding: 0 $visible-bg-area;
  height: 100%;

  aside {
    width: $sidebar-width;
    position: absolute;
    top: 0;
    right: $visible-bg-area;
    background-color: #FFF;
    height: 100%;
    padding: 30px;
  }

  article {
    position: relative;
    padding: 0 0 0 160px;
    height: 100%;
    background-color: #FFF;
    margin-right: 320px;

    .nano-content {
      padding: 40px 160px 0 0;
    }

    .nano-pane {
      opacity: 0.15;
      border-radius: 0;

      > .nano-slider {
        border-radius: 0;
        margin: 0;
      }
    }

    img.lead {
      width: 100%;
      margin: 20px 0;
    }

    h1 {
      font-size: 2.1em;
      line-height: 1.4;
      margin-bottom: 15px;
    }

    h2 {
      font-size: 1.7em;
      font-weight: 500;
      margin: 40px 0 20px;
    }

    a {
      color: #1ABC9C;
      text-decoration: none;
      border-bottom: 1px dotted #1ABC9C;

      &:hover {
        color: #4C799F;
        border-bottom-color: #4C799F;
      }
    }

    .html-content {
      font-size: 1em;
      line-height: 1.7;
      margin: 20px 0;

      img {
        max-width: 100%;
        margin: 20px auto;
      }

      p {
        margin: 20px 0;
        color: #777;
      }

      hr {
        border: 0;
        width: 100%;
        height: 1px;
        background-color: #DDD;
        margin: 20px 0;
      }
    }
  }
}