#sidebar {
  $width: 240px;

  @include transition(opacity, 0.25s);
  width: $width;
  position: fixed;
  top: $header-top-height;
  left: 0;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  background-color: #FFF;
  z-index: 2;
  overflow-y: scroll;

  html.with-sidebar & {
    opacity: 1;
    visibility: visible;
  }
}