#rg-sidebar {
  $width: 230px;

  @include transition(opacity, 0.25s);
  width: $width;
  position: fixed;
  top: $header-top-height;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  background-color: #FFF;
  z-index: 2;
  overflow-y: auto;
  border-top: 1px solid #E5E5E5;

  html.with-sidebar & {
    opacity: 1;
    visibility: visible;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  html.fixed-header & {
    top: 0;
  }

  > section {
    height: 100%;

    > ul {

      li {
        position: relative;
        height: 47px;

        &:hover, &.current {
          background-color: #F5F5F5;
        }

        .item {
          @extend %ellipsis;
          @extend %antialias;
          position: relative;
          font-size: 0.95em;
          display: block;
          height: 100%;
          line-height: 47px;
          padding: 0 0 0 60px;
          margin-right: 50px;
          text-decoration: none;
          color: #737373;

          &.icon-infinite:before {
            @include icon($sprite-infinite, $sprite-retina-infinite);
            left: 29px;
            margin-left: 0;
          }

          &.icon-twitter:before {
            @include icon($sprite-twitter, $sprite-retina-twitter);
            left: 30px;
            margin-left: 0;
          }

          &.icon-folder:before {
            @include icon($sprite-folder-web, $sprite-retina-folder-web);
            left: 30px;
            margin-left: 0;
            opacity: 0.3;
          }
        }

        .move-handle {
          width: 26px;
          height: 26px;
          position: absolute;
          z-index: 1;
          right: 10px;
          top: 10px;
          opacity: 0;
          cursor: -webkit-grab;
          cursor: -moz-grab;

          &:before {
            @include icon($sprite-move, $sprite-retina-move);
          }

          &:active {
            cursor: -webkit-grabbing;
            cursor: -moz-grabbing;
          }
        }

        &:hover .move-handle {
          opacity: 0.1;

          &:hover {
            opacity: 0.5;
          }
        }

        &.ui-sortable-helper {
          box-shadow: 0 1px 2px rgba(0,0,0,0.2);
          background-color: #EEE;

          .item {
            color: #222;
          }
        }
      }
    }
  }
}