.window.white
  ul.steps
    li
      h5 1
      span Get started
    li
      h5 2
      span Connect
    li.current
      h5 3
      span Discover
    li
      h5 4
      span Enjoy


  h1 What do you like?
  p.darker Just select tags you fancy and we'll try to match and tailor the best boards for you. Rocket science!

  .discover
    ul.tags

  .proceed.hide

    hr

    p.cnt
      a(class='btn-skip', href='#', title='Continue') Skip