.window.white
  ul.steps
    li
      h5 1
      span Get started
    li
      h5 2
      span Connect
    li.current
      h5 3
      span Discover
    li
      h5 4
      span Enjoy

  .the-content

    h1 What do you like?
    p.darker.centered
      | Just select the&nbsp;
      strong.enlight #tags
      | &nbsp;you fancy and we'll try to match and suggest the best boards for you. Rocket science!

    hr

    .discover
      .primary
        ul.tags

      .suggested.hide
        hr
        h4 Recommended for you
        ul.tags

      .others.hide
        hr
        h4 Also popular on paperboard
        ul.tags

    .proceed.hide

      hr

      a(class='btn btn-skip confirm-alt', href='#', title='Continue') Get suggestions &rarr;