h1 Here are our suggestions!
p Based on the tags you have selected, we have matched the following board for you. Make sure you pick at least some of these!

hr

.suggestions

hr

a(class='btn confirm-alt', href='#', title='Add selected') Add selected