.window.white
  ul.steps
    li.current
      h5 1
      span Get started
    li
      h5 2
      span Connect
    li
      h5 3
      span Discover
    li
      h5 4
      span Enjoy

  .get-started-logo

  h1 #{firstName}, you're in!

  p Bla bla bla

  hr

  a(class='btn confirm-alt btn-continue', href='#', title='Continue') Start configuring my account &rarr;