.window.white
  h1 Login with your Paperboard Account
  form(autocomplete='off')
    .field
      h4 Email address
      input(type='email', class='email', placeholder='john@example.org')
    .field
      h4 Password
      input(type='password', class='password', placeholder='')
      a(class='sub forgot-password', href='#', title='Request a new password') Forgot password?

  a(class='btn btn-login confirm', href='#', title='Login with your account') Login

  hr

  h2 No account?
  p Future claim

  a(class='btn btn-signup', href='/signup', data-navigate, title='Sign up for a new account') Sign up