.window.white
  .signup-logo

  h1 Sign up for a new Paperboard account

  form(autocomplete='off')
    input(type='password', style='display:none')

    .field
      h4 Your name
      input(type='text', class='full_name', placeholder='John Doe', name="name")
      span
    .field
      h4 Email address
      input(type='email', class='email', placeholder='john@example.org', name="email")
      span
    .field
      h4 Choose a password
      input(type='password', class='password', placeholder='Password')
      span
    .field
      h4 Confirm your new password
      input(type='password', class='confirm_password', placeholder='Password')
      span

    a(class='btn btn-signup confirm', href='#', title='Sign up for a new account') Sign up
    a(class='cnt', href='#') Terms and conditions

a(class='cnt btn-login', href='/login', data-navigate, title='Login with your account') I've got an account, let me log in!