.window.white
  .signup-logo

  h1 Sign up for a new Paperboard account

  form(autocomplete='off')
    input(type='password', style='display:none')

    .field
      h4 Your name
      input(type='text', class='full_name', placeholder='John Doe', name="name")
      span
    .field
      h4 Email address
      input(type='email', class='email', placeholder='john@example.org', name="email")
      span
    .field
      h4 Choose a password
      input(type='password', class='password', placeholder='Password')
      span
    .field
      h4 Confirm your new password
      input(type='password', class='confirm_password', placeholder='Password')
      span

    a(class='btn btn-signup confirm', href='#') Create my account

    p.terms
      | By signing up, you confirm that you have read and agree to our&nbsp;
      a(href='#') terms of service
      | &nbsp;and&nbsp;
      a(href='#') privacy policy
      | .

.cnt
  | Already have an account?&nbsp;
  a(class='cnt btn-login', href='/login', data-navigate, title='Login with your account') Login here