.intro
  .icon
  h1 Welcome to Paperboard!
  p We're so happy to have you here, please take a second to take a quick tour to our new interface.
  .buttons
    a.next.big(href='#', title='View tutorial') Get started