$base-font: "Proxima Nova";
$heading-font: "Proxima Nova Condensed";

$viewport-min-width: 768px;
$header-height: 105px;
$header-top-height: 60px;
$board-settings-width: 240px;

$color-twitter: #5DA9DD;
$color-instagram: #4C799F;
$color-feedly: #8FD439;